.navbar_main {
  display: flex;
  padding: 20px;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color .5s ease-in-out;
  transition: top 0.3s ease;
}

.navbar_main.is-hidden {
  top: -100px;
}

.navBar-icon {
  padding: 1rem;
}

.navbar_content-info {
  display: flex;
  gap: 48px;
}
.navbar_item {
  text-decoration: none;
  color: #0077c0;
  font-weight: bold;
  transition: color 250ms;
  cursor: pointer;
}
.navbar_item:hover {
  color: #004792;
}

.navbar_content-theme {
  margin-right: 48px;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .navbar_main {
    padding: 10px 0;
    font-size: 0.8rem;
  }
  .navbar_content-info {
    display: none;
  }
  .navBar-icon {
    padding: 0;
  }
  .navbar_content-theme {
    margin-right: 8px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar_main {
    padding: 15px 0;
  }
  .navBar-icon {
    padding: 0;
  }
  .navbar_content-theme {
    margin-right: 28px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar_main {
    padding: 15px 0;
  }
  .navBar-icon {
    padding: 0;
  }
  .navbar_content-theme {
    margin-right: 12px;
  }
}
