.navbar_main {
  display: flex;
  padding: 20px;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 1406px;
  width: 100%;
  transition: background-color .5s ease-in-out;
}
.test {
  display: flex;
}

.navbar_content-info {
  display: flex;
  gap: 48px;
}
.home {
  text-decoration: none;
  color: #0077c0;
  font-weight: bold;
  transition: transform 250ms;
}
.home:hover {
  transform: translateY(-10px);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .struc {
    padding: 20px 20px;
    font-size: 0.8rem;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .struc {
    padding: 20px 20px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .struc {
    padding: 30px 30px;
  }
}
