.contact_main-info{
    padding: 50px 150px;
}

.contact_main_image{
   display: flex;
   justify-content: center;
   font-size: 2rem;  
}
.contact_main_image-item:hover{
    transform: translateY(-10px);
}

.contact_main_image-item{
    padding: 0.2rem 2rem;
    transition: transform 250ms;
}

.is-light {
    color: #424242;
}

.is-dark {
    color: #8892b0;
}

@media (max-width: 480px) {
    .contact_main-info-heading {
        font-size: 1.2rem;
    }
    .contact_main-info-para {
        font-size: 1rem;
    }
    .contact_main-info{
        padding: 20px;
    }
    
    .contact_main_image{
       display: flex;
       justify-content: center;
       font-size: 1.4rem;
    }
    
    .contact_main_image-item{
        padding: 0.2rem 2rem;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .contact_main-info{
        padding: 4rem 4rem;
    }
    
    .contact_main_image{
       display: flex;
       justify-content: center;
        font-size: 2.5rem;
    }
    
    .contact_main_image-item{
        padding: 0.2rem 2rem;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .contact_main-info{
        padding: 4rem 4rem;
    }
    
    .contact_main_image{
       display: flex;
       justify-content: center;
        font-size: 2.5rem;
    }
    
    .contact_main_image-item{
        padding: 0.2rem 2rem;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    
}