.exp_content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 150px;
  transition: padding .5s ease-in-out;
}

.experience_innerContainer::before {
  content: "";
  position: absolute;
  width: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out;
  background-color: #fcf0c8;
}

.experience_innerContainer {
  position: relative;
  padding-left: 4rem;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: padding-left 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

.exp_content-item {
position: relative;
margin-bottom: 3rem;
transition: margin-bottom .5s ease-in-out;
}

.exp_content-item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 6px;
  left: calc(-4rem - 6px);
  border-radius: 100%;
  transition: background-color .5s ease-in-out, border .5s ease-in-out, left .5s ease-in-out;
  background-color: #fcf9ed;
    border: 4px solid #fa8b00;
}

.exp_content-company--time {
  display: flex;
  justify-content: space-between;
}

.exp_content-company--position {
  margin: 4px 0 8px;
}

.exp_content-company--duration {
  margin: 4px 0 8px;
}

.exp_content-company--name {
  margin: 0;
}